#menyboks #covid_19_id {
    color: rgb(244, 148, 30);
}

#covidcolor{
    background-color:  rgb(253, 212, 158);
}

#fonting {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

#h1covid{
    color: black;
    padding-top: 30px;
}



#important{
    text-align: center;
    font-size: 1.4em;
    color: black;
    padding-top: 70px;
    padding-bottom: 80px;
    line-height: 1.4;
    padding: 5%;
    
}

#important2{
    text-align: justify;
    padding: 5%;
}

#mellomrom{
    width: 90%;
    height: 3px;
    background-color: black;
    margin: auto;
    

}

#oppdatering {
    position: relative;
    margin: auto;
    text-align: center;
    font-style: italic;
    color: black;
    margin-top: -1.5em;
    margin-top: 5px;
}

section ul{
    
    line-height: 1.5em;
}
