#Ekstra {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Gjemmer bildene: */
.mySlides {
    display: none;
    text-align: center;
}

/* Fade mellom bilder */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#slideshow_inside {
    position: relative;
    text-align: center;
    max-width: 100%;
}

#bestill_knapp {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35px;
    width: 280px;
    transform: translate(-50%, -50%);
    border:2px solid rgb(244, 148, 30); 
    background-color:rgba(0,0,0,0.4);
    font-weight: lighter;
}

#bestill_knapp a{
    margin-left: 40px;
    text-decoration: none;
    color: rgb(244, 148, 30);
    font-size: 30px;
}

#bestill_knapp a:hover{
    color: rgb(221, 224, 218);
}

@media (max-width: 830px) {
    #foot{
        z-index: 50;
    }
    #slideshow_container {
        display: none;
    }
    #Ekstra {
        display: block;
        position: relative;
        height: 1500px;
    }
    .Ekstra_bilder #bakgrunnsbilde_1{
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 12;
    }
    .Ekstra_bilder #bakgrunnsbilde_2{
        position: absolute;
        top: 21%;
        left: 0%;
        z-index: 10;
    }
    .Ekstra_bilder #bakgrunnsbilde_3{
        position: absolute;
        top: 42%;
        left: 0%;
        z-index: 8;
    }
    .Ekstra_bilder #bakgrunnsbilde_4{
        position: absolute;
        bottom: 21%;
        left: 0%;
        z-index: 10;
    }
    .Ekstra_bilder #bakgrunnsbilde_5{
        position: absolute;
        bottom: 0%;
        left: 0%;
        z-index: 12;
    }
    #bestill_knapp_ekstra{
        position: absolute;
        top: 8%;
        z-index: 15;
    }
}