/* UNIVERSELL STIL:  */

body{
    font-family:  Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: #fefefe;
}

h1{
    color: rgb(244, 148, 30);
    text-align: center;
}

h2{
    text-align: center;
}

h3 {
    text-align: center;
}

h4{
    color: rgb(244, 148, 30);
}
/* MENYGREIER: */

#menyboks{
    width: 100%;
    height: 100px;
    border-bottom: solid 2px black;
    position: fixed;
    z-index: 40;
    background-color: white;
}

#meny{
    padding: 20px;
    overflow: hidden;
    font-family: helvetica;
    font-size: 16px;
    margin-left: 30%;
    margin-top: 2%;
}

#klpp {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 20%;
    font-weight: bolder;
}

#meny a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}


#meny a:hover{
    color: rgb(221, 224, 218);
    /* endrer dargen til menyobjektene til grå når man har musen over dem */
}

/* HJEMMESIDE.html */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Gjemmer bildene: */
.mySlides {
    display: none;
    text-align: center;
}

/* Styling av dots som lar deg velge bilde */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fade mellom bilder */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#slideshow_inside {
    position: relative;
    text-align: center;
    max-width: 100%;
}

#bestill_knapp {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35px;
    width: 280px;
    transform: translate(-50%, -50%);
    border:2px solid rgb(244, 148, 30); 
    background-color:rgba(0,0,0,0.4);
    font-weight: lighter;
}

#bestill_knapp a{
    margin-left: 40px;
    text-decoration: none;
    color: rgb(244, 148, 30);
    font-size: 30px;
}

#bestill_knapp a:hover{
    color: rgb(221, 224, 218);
}

/* FOOTER GREIER: */

.wrapper{
    min-height: 100%;
    padding-top: 100px;
}
.wrapper-inside{
    padding-bottom: 240px;
}

#foot{
    font-family: Helvetica, sans-serif;
    height: 270px;
    margin-top: -250px;
    padding: 10px;
    background-color:rgb(205, 223, 245);
}

#kontakt{
    text-align: center;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: solid gray 2px;
}

.kontaktlokasjon{
    width: 27%;
    float: left; 
}

#so_me{
    width: 18%;
    height: 80%;
    float: left;
    border-left: solid gray 2px;
}

#insta, #face {
    text-align: center;
}

#instagram, #facebook {
    height: 50px;
}

#foot h4 {
    color: black;
    font-weight: lighter;
    font-size: 20px;
}

#foot h4 #kontakt {
    font-size: 22px;
}

/* OM OSS */
.Bakgrunn img {
    width: 100%;
}

.Bakgrunn {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
}

.Overskrift {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*feedback vinduene*/
.feedback-all{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.feedback-content{
    background-color: rgb(255, 255, 255);
    margin: 15% auto;
    padding: 40px;
    border: 3px solid rgb(244, 148, 30);
    width: 30%;
    text-align: center;
    font-size: large;
    color: rgb(0,0,0); 
}

.close-window{
    color:rgb(221, 224, 218);
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close-window:hover, .close-window:focus{
    color: rgb(0,0,0);
    text-decoration: none;
    cursor: pointer;
}

/* COVID-19*/
#covidcolor{
    background-color:  rgb(253, 212, 158);
}

#fonting {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

#h1covid{
    color: black;
    padding-top: 30px;
}



#important{
    text-align: center;
    font-size: 1.4em;
    color: black;
    padding-top: 70px;
    padding-bottom: 80px;
    line-height: 1.4;
    
}

#important2{
    text-align: justify;
}

#mellomrom{
    width: 100%;
    height: 3px;
    background-color: black;
    margin: auto;
    

}

#oppdatering {
    position: relative;
    margin: auto;
    text-align: center;
    font-style: italic;
    color: black;
    margin-top: -1.5em;
    margin-top: 5px;
}

section ul{
    
    line-height: 1.5em;
}




/* GALLERI */
.img {
    width: 100%;
}

.img:hover{
    opacity: 70%;
    cursor: pointer;
}

.header{
    position: relative;

}

.galleri{
    width: 100%;
    height: 100%;
    position: relative;
}

.en{
    width: 30%;
    position: relative;
    left: 2%;
    top: 20px;
    margin-bottom: 40px;
  }

.to{
    width: 30%;
    position: absolute;
    right: 2%;
    top: 20px;
  }

.tre{
    width: 30%;
    position: absolute;
    left: 35%;
    top: 20px;
  }

  

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
        width: 80%;
    }
    }

/* Tilpasset mindre skjerm */


#link_om_oss {
    display: none;
}

@media (max-width: 1170px) {
    #meny{
        margin-left: 34%;
    }
    #meny a{
        margin-left: 18px;
    }
    .kontaktlokasjon{ 
        font-size: 13px;
    }
    #so_me{
       font-size: 13px;
    }
}

@media (max-width: 1030px) {
    #meny{
        margin-left: 32%;
        font-size: 13px;
        margin-top: 2.5%;
    }
    #meny a{
        margin-left: 15px;
}
}

@media (max-width: 880px) {
    #meny{
        margin-left: 36%;
        margin-top: 3%;
    }
    #meny a{
        margin-left: 10px;
    }
    .kontaktlokasjon{ 
        font-size: 10px;
    }
    #foot h4 {
        font-size: 16px;
    }
    #so_me{
        font-size: 9px;
     }
    #bestill_knapp {
        display: none;
    }
}

@media (max-width:600px){
     #meny{
        margin-left: 40%;
        margin-top: 4%;
        font-size: 10px;
    }
    #meny a{
        margin-left: 10px;
    }
    .kontaktlokasjon{ 
        display: none;
    }
    #link_om_oss {
        display: block; 
        float: left;
        }
    #so_me{
        width: 55%;
        font-size: 15px;
        float: right;
        left: 40%;
    }
    #foot a{
        margin-left: 40px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        top: 50%;
    }    
    #foot a:hover{
        color: rgb(244, 148, 30);
        /* endrer dargen til menyobjektene til grå når man har musen over dem */
    }
}

@media (max-width: 400px) {
    .Overskrift {
        font-size: 20px;
    }
    #meny #klpp{
        font-size: 27px;
        margin-left: 5%;
        margin-top: 3%;
        padding: 5px;
    }
    #meny #overst{
        font-size: 6px;
        margin-left: 0%;
        margin-top: 3%;
    }
    #meny #nederst{
        font-size: 6px;
        margin-left: 5%;
        margin-top: 10%;
    }

}
