/*Aktiv nettside er oransje*/
#myTopnav #behandlinger_id {
    color: rgb(244, 148, 30);
}

#behandling_body {
    margin-top: 40px;
}

/*Plasseringer på overskrifter, tekster og bilder */
.behandling_tittel{
    text-align: left;
    margin-top: 0%;
}

.behandling_boks{
    overflow: hidden;
    margin-bottom: 50px
}

.behandling_left > h3{
    text-align: left;
}

.behandling_right{
    margin-left: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.behandling_bilde_left{
    width: 50%;
    float: left;
}

.behandling_left{
    width: 36%;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.behandling_bilde_right{
    width: 50%;
    float: right;
}

/*Tilpasset smalere skjermer */

@media (max-width:600px){
    .behandling_boks{
        position: relative;
        width: 100%;
        height: 780px;
    }       
    .behandling_right .behandling_tittel, .behandling_left .behandling_tittel{
        position: absolute;
        left: 10%;
        top: 0%;
    }
    .behandling_right .right_text, .behandling_left .left_text{
        position: absolute;
        left:10%;
        top: 45%;
        width: 50%;
    }

    .behandling_right .right_pris, .behandling_left .left_pris{
        position: absolute;
        left: 70%;
        top: 50%;
        width: 20%;
    }
    
    .behandling_bilde_left,  .behandling_bilde_right{
        position: absolute;
        left: 0%;
        top: 5%;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .behandling_boks{
        position: relative;
        width: 100%;
        height: 670px;
    }       
    .behandling_right .behandling_tittel, .behandling_left .behandling_tittel{
        position: absolute;
        left: 10%;
        top: 0%;
    }
    .behandling_right .right_text, .behandling_left .left_text{
        position: absolute;
        left:10%;
        top: 35%;
        width: 50%;
        font-size: 14px;
    }

    .behandling_right .right_pris, .behandling_left .left_pris{
        position: absolute;
        left: 70%;
        top: 35%;
        width: 20%;
    }
    
    .behandling_bilde_left,  .behandling_bilde_right{
        position: absolute;
        left: 0%;
        top: 5%;
        width: 100%;
    }
}