* {
    background-color: #fefefe

}

body, div, header, footer{
    max-width: 800px;
    line-height: 1.4;
    text-align: justify;
    margin: auto;
    color: #454545;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;

}